{% extends "users/base.html" %} 
{% load static %} 




{% block head %} 
<style>
  
    #contact-us{
        text-align:center;
        margin-top:4rem;
    }

    #titlesection{
        display:flex;
        justify-content:center;
        align-items:center;
        gap: 0.5rem;
        text-align:center;

    }

    #text{
        margin-top: 50px !important;
    }
    
    a{
        color: rgb(3, 179, 61);
    }
   

    a:hover{
        color: rgb(16, 90, 41);
    }

    #titlesection{
        flex:left;
        padding:0;
        margin:0;
    }

    #contact-us{
        margin-bottom:100px;
    }
</style>

{% endblock%} 

{% block content %}

<div class="container col-lg-9">
    <div id="titlesection">
    
        <img id="grass-left" src="{% static 'pets/images/grass.png' %}" alt="grass image" width="100px" height="auto" >
    
        <h2 id="title">About Us</h2>
    
        <img id="grass-left" src="{% static 'pets/images/grass2.png' %}" alt="grass image" width="100px" height="auto" >
    
    </div>
    <div id="text" class="container col-lg-8">
        <p>
        Welcome to FurryFosters! Our purpose is to find loving homes for our furry buddies.
        In our shelters, we take in animals who have been rescued on the streets or have lost their homes
    
        </p>
        <p>
        At FurryFosters, we believe that all our furry friends deserve a chance at a loving home.
        In order to ensure their safety and well-being, a group of volunteers is here to assist.
        </p>
        <p>
        It is important to us, that people stop seeing animals as simple objects, which can be bought.
        Fostering and adopting are the best ways to go about adding an animal to your household.
        </p>
        <p>
        We would be glad to have you join our community, whether that is through fostering or volunteering.
        Make sure to spread the word, and promote fostering to everyone around you. Together we can help 
        make a difference in the lives of our little buddies!
        </p>
    
        <p id="contact-us"><b>Feel free to <a href="{% url 'contact' %}">contact us</a> regarding any concerns!</b></p>
    </div>
</div>



{% endblock content %}
