{% extends "users/base.html" %}
{% load static %}

{% block head %}
<style>
   
   .faq-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    max-width: 900px;
    margin: auto;
}

.faq-column {
    width: 50%; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.faq-item {
    background-color: #d9e8d4;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;

}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.toggle-btn {
    font-size: 18px;
    font-weight: bold;
}

.faq-answer {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .toggle-btn {
    transform: rotate(45deg);
   
}

.vl {
        border-left: 2px solid rgb(3, 3, 3);
        height: auto;
        align-self: stretch;
        margin-left: 20px;
        margin-right: 20px;
        min-height: 400px;
        margin-bottom: 20px;
    }

h2{
    margin-top: 30px;
    margin-bottom: 30px;
}
   
</style>
{% endblock %}

{% block content %}

<div class="container col-lg-9">

    <h2>FAQ</h2>
    
    <div class="faq-container">
        <div class="faq-column">
            <div class="faq-item"><div class="faq-question">What is pet fostering? <span class="toggle-btn">+</span></div><div class="faq-answer">Pet fostering is the process of housing a pet for a temporary duration. This involves taking care of them, keeping them company and providing a home for them for as long as the fostering is in place.</div></div>
            <div class="faq-item"><div class="faq-question">What is the difference with adoption? <span class="toggle-btn">+</span></div><div class="faq-answer">Adoption means that the pet is fully your own responsibility and is now a permanent member of your family. Fostering is not a permanent thing and the pets get returned to the shelters eventually. </div></div>
            <div class="faq-item"><div class="faq-question">Why does the shelter do fostering? <span class="toggle-btn">+</span></div><div class="faq-answer">Ever since the Greek summer fires started becoming a common occurence, it became evident that many animals would lose their homes and no one would look for them. Adoption is a lengthier process and not something everyone can commit to, so we believe it was important to establish a faster process like fostering, which does not bind the fosterers for a long period of time.</div></div>
            <div class="faq-item"><div class="faq-question">Can fostered pets be adopted? <span class="toggle-btn">+</span></div><div class="faq-answer">Yes! As a matter of fact, lots of people end up adopting their fostered buddies. It is quite common and we are always pleased to know that our cuties have found their forever home!</div></div>
            <div class="faq-item"><div class="faq-question">How can I foster? <span class="toggle-btn">+</span></div><div class="faq-answer">In order to foster a pet, you will first need to go through the form process. You will have to submit documents and information about you so that we know if you are in a position to provide a proper shelter for a pet. Once you get our badge of approval, you can submit a request to foster a pet of your choice!</div></div>
        </div>
        <div class="vl"></div>
        <div class="faq-column">
            <div class="faq-item"><div class="faq-question">What are the requirements to foster? <span class="toggle-btn">+</span></div><div class="faq-answer">In order to foster, you need to have decent living conditions, and be able to provide proper care, food and hygiene for a pet. </div></div>
            <div class="faq-item"><div class="faq-question">Can I choose the pet to foster? <span class="toggle-btn">+</span></div><div class="faq-answer">Yes! We have a variety of different cat and dog breeds, all of which are unique in their characters. You can browse our pet list and see which pet fits you!</div></div>
            <div class="faq-item"><div class="faq-question">Who do I contact in case of emergencies? <span class="toggle-btn">+</span></div><div class="faq-answer">In the case where there is an emergency with your fostered pet, you can check under your profile, in the fostered pets section, a number which is for emergencies for the specific pet.</div></div>
            <div class="faq-item"><div class="faq-question">Can I travel with the pets? <span class="toggle-btn">+</span></div><div class="faq-answer">Unfortunately, as long as you are fostering, you can not travel with your pets or even without them! If anything happens to them while you are away, we won't be able to know in time and act accordingly. </div></div>
            <div class="faq-item"><div class="faq-question">What are visitation right? <span class="toggle-btn">+</span></div><div class="faq-answer">Visitation rights are when a person can freely walk into the shelter as a volunteer and help around with pet care. Often times, if someone is not suitable to become a fosterer, they may be granted visitation rights so that they can be of assistance in a different way!</div></div>
        </div>
    </div>
</div>    
    

<script>
    document.addEventListener("DOMContentLoaded", function () {
    const faqItems = document.querySelectorAll(".faq-item");

    faqItems.forEach(item => {
        item.addEventListener("click", () => {
            item.classList.toggle("active");
        });
    });
});

</script>
{% endblock content %}