{% extends "users/base.html" %}
{% load static %}

{% block head %}
<style>



    .vl {
        border-left: 2px solid rgb(3, 3, 3);
        height: 500px;
        justify-items: center ;
        align-self: center;
        
    }

    ul{
        list-style-type: none;
    }


    h3{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
   
    .background-shape {
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;  
    max-width:350px; 
    z-index: -1; 
}


#toxic-foods{
    margin-top:3%;
    position: relative; 
    text-align: center;
    margin-bottom: 10%;
}


.centered {
    list-style: none;
    padding: 20px;
    margin: 0;
    position: relative;
}

.row {
    display: flex;
    align-items: flex-start; 
    gap: 20px; 
}

.col-5{
    margin-bottom: 10%;
}

.cloud-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: auto; 
    margin-top: 50px; 
    text-align: center;
}


.cloud-content {
    position: relative;
    width: 600px; 
    padding: 20px;
    transform: translateY(-15px); 
}


.background-cloud {
    position: absolute;
    top: 55%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%; 
    max-width: 750px; 
    z-index: -1;
}

.cloud-title {
    position: relative;
    text-align: left;
    padding-left: 40px; 
    font-weight: bold;
    margin-bottom: -10px;
    padding-bottom: 5px;
    transform: translateY(-10px); 
}


#asterisk-text {
    position: relative;
    list-style: none;
    padding: 10px 40px;
    text-align: left;
    font-size: 14px;
    z-index: 1;
    margin: 0;
    line-height: 1.4;
    transform: translateY(-10px); 
}


</style>
{% endblock %}

{% block content %}
<div class="container" id="toxic-foods">
    <h2 class="text-center">Toxic Foods</h2>
    <div class="row justify-content-center">
        
        <div class="col-5 ">
            <h3><u>Dogs</u></h3>
            <div class="position-relative">
                <img src="{% static 'pets/images/rectangleframe.svg' %}" 
                     alt="" 
                     class="background-shape">
                <ul class="centered">
                    <li>Alcohol</li>
                    <li>Avocado</li>
                    <li>Caffeine*</li>
                    <li>Chocolate</li>
                    <li>Cooked Bones*</li>
                    <li>Dairy Products*</li>
                    <li>Fatty foods</li>
                    <li>Garlic</li>
                    <li>Grapes and Raisins</li>
                    <li>Macadamia Nuts*</li>
                    <li>Onions and Onion Powder</li>
                    <li>Raw Eggs</li>
                    <li>Raw Meat and Fish*</li>
                    <li>Salt</li>
                    <li>Xylitol*</li>
                </ul>
            </div>
        </div>

<div class="vl"></div>

    
        <div class="col-5">
            <h3><u>Cats</u></h3>
            <div class="position-relative">
                <img src="{% static 'pets/images/rectangleframe.svg' %}" 
                     alt="" 
                     class="background-shape">
                <ul class="centered">
                    <li>Alcohol</li>
                    <li>Avocado</li>
                    <li>Chocolate</li>
                    <li>Citrus Fruits</li>
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Dairy Products*</li>
                    <li>Garlic</li>
                    <li>Grapes and Raisins</li>
                    <li>Nuts*</li>
                    <li>Onions and Onion Powder</li>
                    <li>Raw Eggs</li>
                    <li>Raw Meat and Fish*</li>
                    <li>Salt</li>
                    <li>Xylitol*</li>
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="cloud-container">
        <div class="cloud-content">
            <h3 class="cloud-title">***</h3>
            <img src="{% static 'pets/images/cloudimage.svg' %}" 
                 alt="Background Cloud"
                 class="background-cloud">
            <ul id="asterisk-text">
                <li>Caffeine - refers to coffee, tea, energy drinks</li>
                <li>Cooked bones - splinter hazard</li>
                <li>Dairy products - some dogs and cats may be lactose intolerant</li>
                <li>Nuts - especially macadamia nuts</li>
                <li>Raw meat and fish - potentially harmful bacteria</li>
                <li>Xylitol - artificial sweetener</li>
            </ul>
        </div>
    </div>
    
    
</div>
{% endblock content %}
