
{% extends "users/base.html" %}
{% load static %}

{% block head %}
<style>

    form{
        margin-bottom:100px;
    }

    button{
        background-color: #ACE791!important;
        border-color: #433B2D !important;
        border-radius:15px !important;
        border-width: 2px !important;
        color: black !important;
        height:50px;
        width:200px;
        margin-top: 40px;
        align-content: center;
        font-weight: bold!important;
    }
</style>

{% endblock %}
{% block content %}
<div class="container col-lg-9"> 
    <h2> Add New Pet</h2>
    <h4>*All of the fields must be filled*</h4>


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>

        <div class="form-group">
            {{ form.species.label_tag }}
            {{ form.species }}
        </div>

        <div class="form-group">
            {{ form.gender.label_tag }}
            {{ form.gender }}
        </div>

        <div class="form-group">
            {{ form.age.label_tag }}
            {{ form.age }}
        </div>

        <div class="form-group">
            {{ form.size.label_tag }}
            {{ form.size }}
        </div>

        <div class="form-group">
            {{ form.breed.label_tag }}
            {{ form.breed }}
        </div>
        
        <div class="form-group">
            {{ form.fur.label_tag }}
            {{ form.fur }}
        </div>

        <div class="form-group">
            {{ form.shelter_arrival.label_tag }}
            {{ form.shelter_arrival }}
        </div>

        <div class="form-group">
            {{ form.character_traits.label_tag }}
            {{ form.character_traits}}
        </div>

        <div class="form-group">
            {{ form.allergies.label_tag }}
            {{ form.allergies}}
        </div>

        <div class="form-group">
            {{ form.disabilities.label_tag }}
            {{ form.disabilities}}
        </div>

        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image}}
        </div>

        <div id="bottom-part">
            <button id="add-pet-button" type="submit" class="btn btn-primary">Add Pet</button>
        </div>
    </form>
</div>
{% endblock content %}
