{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css'%}">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>


     <!-- Tagify CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">

    
    {% block head %}
    
    {% endblock %}

    <title>mY</title>
  </head>

  <nav class="navbar navbar-expand-lg">
    <div class="container fluid">
        <!-- Logo -->
        <a href="{% url 'home' %}" id="logo-section" class="navbar-brand" href="#">
            <img id="navbarlogo" src="{% static 'users/images/logo.png' %}" alt="Logo" width="100px" height="auto" >
        </a>

        <!-- Navbar Links -->
        <div class="d-flex align-items-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pet-list' %}">Pets</a>
                </li>
                <div class="navbar-divider"></div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pet-needs' %}">Pet Needs</a>
                </li>
                <div class="navbar-divider"></div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About Us</a>
                </li>
                <div class="navbar-divider"></div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
                </li>
                <div class="navbar-divider"></div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'become-fosterer' %}">Become a Foster Parent</a>
                </li>
            </ul>
        </div>

        <!-- Profile Icon -->
        <div class="navbar-profile">
            <a href="{% url 'user-profile' %}">
                {% if user.profile_photo %}
                <img src="{{ user.profile_photo.url }}" alt="Profile" width="250px" height="auto">
                {% else %}
                <img src="{% static 'users/images/userprofile.png' %}" alt="Default Profile" width="250px" height="auto">
                {% endif %}
                          
            </a>
        </div>
    </div>
</nav>

 
<body>

  <div class="container col">

    {% block content %}
    {% endblock %}
   
  </div>


<!-- FOOTER -->

<footer id="myfooter" class="footer col-12 justify-content center ">
    <div class="container ">
        <!-- Logo and Title Row -->
        <div class="row footer-logo-row">
            <div class="col-8 d-flex align-items-center">
                <img src="{% static 'users/images/logo.png' %}" alt="Logo" width="100px" height="auto">
                <h5>FurryFriends</h5>
            </div> 
        </div>
        <!-- Footer Content Row -->
        <div class="row text-left">
            <!-- Support Us  -->
            <div class="col-md-2 mb-4">
                <h6>Support Us</h6>
                <ul class="list-unstyled">
                    <li><a href="{% url 'pet-toxic' %}">Pet Allergies</a></li>
                    <li><a href="{% url 'pet-needs' %}">Pet Needs</a></li>
                    <li><a href="{% url 'contact' %}">Contact us</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                </ul>
            </div>
            <!-- Find Us  -->
            <div class="col-md-2 mb-4">
                <h6>Find Us</h6>
                <ul class="list-unstyled">
                    <li><a href="https://www.instagram.com/">Instagram</a></li>
                    <li><a href="https://www.facebook.com/">Facebook</a></li>
                    <li><a href="https://www.etsy.com/?ref=lgo">Shop</a></li>
                </ul>
            </div>
            <!-- Shelters  -->
            <div class="col-md-4">
                <h6>Shelters</h6>
                <ul class="list-unstyled">
                    <li><a href="https://www.google.com/maps/place/Aristotelous+5,+Ampelokipi+561+23/@40.6517733,22.9298038,17z/data=!3m1!4b1!4m5!3m4!1s0x14a839bdd5e13311:0x60b10d0a50d7d3fb!8m2!3d40.6517693!4d22.9323841?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D">Aristotelous 5, Ampelokipoi</a></li>
                    <li><a href="https://www.google.com/maps/place/Ioanninon+3,+Voula+166+73/@37.8462054,23.7817919,17z/data=!3m1!4b1!4m5!3m4!1s0x14a1956b7dd09073:0x991fac18e5b48069!8m2!3d37.8462012!4d23.7843722?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D">Ioanninon 3, Voula</a></li>
                </ul>
                <!-- Map -->
                <div class="map-container border">
                    <iframe 
                        src="https://www.google.com/maps/embed?pb=..." 
                        frameborder="0" 
                        style="border:0; width: 100%; height: 100%;" 
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</footer>

   
    <!-- Bootstrap Bundle JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Dialogflow Bot !-->
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
        intent="WELCOME"
        chat-title="FD"
        agent-id="4318b5ae-4cb0-45d9-8782-083ef0be520a"
        language-code="en"
        chat-icon="{% static 'users/images/logo.png' %}">
    
    </df-messenger>    

     <!-- jQuery  -->
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     
    <!-- PopperBootstrapJS -->
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     
    
    </body>
</html>
