{% extends "users/base.html" %}
{% load static %}



{% block head %}

<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<style>
    
    
    h2{
        font-family: 'Montserrat';
       
    }

    body{
        font-family: 'Comfortaa' !important;
    }

    .form-group{
        max-width: 60%;
        
    }

    input{
        background-color: #FFFED7 !important;
        border-radius: 15px !important;
        width: 70%;
        height: 50px;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.2);
        font-family: 'Comfortaa';

    }

    #image-button{
        background-color: #ACE791;
        border-color: #433B2D !important;
        border-radius:15px !important;
        border-width: 2px !important;
        height: 50px;
    }

    #save-button{
        background-color: #ACE791;
        border-color: #433B2D !important;
        border-radius:15px !important;
        border-width: 2px !important;
        height: 50px;
        color:black;
        margin-top:5% !important;
    }

    .vl {
        border-left: 2px solid rgb(3, 3, 3);
        height: 400px;
        margin-right: 10%;
        
    }

   
    label{
        font-size: large;
    }
    

    #section{
    margin-bottom: 20%;
}


#profile-preview {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 20px;
}
</style>
{% endblock %}



{% block content %}
<div class="container col-lg-9">
    <div id="section" >
        <h2>Edit Profile Information</h2>
        <div id="section" class="row justify-content-center">
            <div class="col-md-4 text-center">
                <form id="image-upload-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="image" id="profile-image-input" style="display: none;" />
                </form>
                
                {% if user.profile_photo %}
                <img id="profile-preview" src="{{ user.profile_photo.url }}" alt="Profile" >
            {% else %}
                <img id="profile-preview" src="{% static 'users/images/userprofile.png' %}" alt="Default Profile">
            {% endif %}
            <button type="button" id="image-button" class="btn btn-pill">CHANGE IMAGE</button>
                
            </div>
            <div class="vl"></div>
            <div class="col-md-5 ">
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="exampleInputUsername">Username</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">E-mail</label>
                        {{ form.email }}
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        {{ form.password }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Repeat Password</label>
                        {{ form.password_repeat }}
                    </div>
                    <div>
                    <button id="save-button" type="submit" class="btn btn-primary">SAVE CHANGES</button>
                    </div>

                    {% if form.errors %}
                <div class="form-errors">
                    <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById('image-button').addEventListener('click', function () {
        document.getElementById('profile-image-input').click();
    });
    
    document.getElementById('profile-image-input').addEventListener('change', function () {
        const fileInput = this;
        const formData = new FormData();
        formData.append('image', fileInput.files[0]);
    
        fetch("{% url 'upload-profile-image' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            body: formData
        })
        .then(response => {
            if (response.ok) {
                location.reload();
            } else {
                alert("Failed to upload image.");
            }
        });
    });
    </script>
    
  

{% endblock content %}