{% extends "users/base.html" %}
{% load static %}

{% block head %}

<style>
    #choice{
        background-color: #FFFED7;
        border-radius: 15px !important;
        width: 70%;
        height: 50px;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.2);
        font-family: 'Comfortaa';
        color:black;    
        align-content: center;
        border:0;
    }

    #mybuttons{
        gap: 30px;
    }

    h3{
        font-family: 'Comfortaa';
    }

    h2{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #section{
        margin-bottom: 20%;
    }

    
    #profile-preview {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
        margin-top: 20px;
    }

</style>
{% endblock %}

{% block content %}

    <div class="container col-lg-9"> 

        <body>
        <h2>My Profile</h2>

        {% if user_type == "simple" %}
            <div id ="section" class="row justify-content-center align-items-center">
                <div class="col-md-5 text-center">
                    {% if user.profile_photo %}
                    <img id="profile-preview" src="{{ user.profile_photo.url }}" alt="Profile" >
                    {% else %}
                        <img src="{% static 'users/images/userprofile.png' %}" alt="Default Profile" >
                    {% endif %}            
                    <h3>{{ user.username }}</h3>
                </div>
                {% if user.fosterer_status == "accepted" %}
                    <div id="mybuttons" class="col-md-5 d-flex flex-column gap-4">
                        <a id="choice" href="{% url 'edit-profile' %}" class="btn btn-primary rounded-pill">Edit Profile Information</a>
                        <a id="choice" href="{% url 'my-pets' %}" class="btn btn-primary rounded-pill">View Fostered Pets</a>
                        <a id="choice" href="{% url 'user-badge' %}" class="btn btn-primary rounded-pill">View Badge</a>
                        <a id="choice" href="{% url 'logout' %}" class="btn btn-primary rounded-pill">Log out</a>
                    </div>

                {% elif user.fosterer_status == "rejected" %}
                    <div id="mybuttons" class="col-md-5 d-flex flex-column gap-4">
                        <a id="choice" href="{% url 'edit-profile' %}" class="btn btn-primary rounded-pill">Edit Profile Information</a>
                        <a id="choice" href="{% url 'user-badge' %}" class="btn btn-primary rounded-pill">View Badge</a>
                        <a id="choice" href="{% url 'logout' %}" class="btn btn-primary rounded-pill">Log out</a>
                    </div>

                {% else %}
                    <div id="mybuttons" class="col-md-5 d-flex flex-column gap-4">
                        <a id="choice" href="{% url 'edit-profile' %}" class="btn btn-primary rounded-pill">Edit Profile Information</a>
                        <a id="choice" href="{% url 'user-badge' %}" class="btn btn-primary rounded-pill">View Badge</a>
                        <a id="choice" href="{% url 'logout' %}" class="btn btn-primary rounded-pill">Log out</a>
                    </div>

                {% endif %}
            </div>
        
       

        
        {% elif user_type == "admin" %}
            <div id ="section" class="row justify-content-center align-items-center">
                <div class="col-md-5 text-center">
                    {% if user.profile_photo %}
                    <img id="profile-preview" src="{{ user.profile_photo.url }}" alt="Profile" >
                    {% else %}
                        <img src="{% static 'users/images/userprofile.png' %}" alt="Default Profile" >
                    {% endif %}
                    <h3>{{ user.username }}</h3>
                    <h2><b>Admin</b></h2>
                </div>
                <div id="mybuttons" class="col-md-5 d-flex flex-column gap-4">
                    <a id="choice" href="{% url 'edit-profile' %}" class="btn btn-primary rounded-pill">Edit Profile Information</a>
                    <a id="choice" href="{% url 'admin:index' %}" class="btn btn-primary rounded-pill">View Admin Panel</a>
                    <a id="choice" href="{% url 'staff-panel' %}" class="btn btn-primary rounded-pill">View Staff Panel</a>

                    <a id="choice" href="{% url 'logout' %}" class="btn btn-primary rounded-pill">Log out</a>

                </div>
            </div>
        

        {% elif user_type == "staff" %}
            <div id ="section" class="row justify-content-center align-items-center">
                <div class="col-md-5 text-center">
                    {% if user.profile_photo %}
                    <img id="profile-preview" src="{{ user.profile_photo.url }}" alt="Profile" >
                    {% else %}
                        <img src="{% static 'users/images/userprofile.png' %}" alt="Default Profile" >
                    {% endif %}     
                    <h3>{{ user.username }}</h3>
                    <h2><b>Staff</b></h2>
                </div>
                <div id="mybuttons" class="col-md-5 d-flex flex-column gap-4">
                    <a id="choice" href="{% url 'edit-profile' %}" class="btn btn-primary rounded-pill">Edit Profile Information</a>
                    <a id="choice" href="{% url 'staff-panel' %}" class="btn btn-primary rounded-pill">View Staff Panel</a>
                    <a id="choice" href="{% url 'logout' %}" class="btn btn-primary rounded-pill">Log out</a>

                </div>
            </div>
    

        {% else %}
            <div id ="section" class="row justify-content-center align-items-center">
                <div class="col-md-5 text-center">
                    {% if user.profile_photo %}
                    <img id="profile-preview" src="{{ user.profile_photo.url }}" alt="Profile" >
                    {% else %}
                        <img src="{% static 'users/images/userprofile.png' %}" alt="Default Profile" >
                    {% endif %}
                    <h3>{{ user.username }}</h3>
                </div>
                <div id="mybuttons" class="col-md-5 d-flex flex-column gap-4">
                    <a id="choice" href="{% url 'edit-profile' %}" class="btn btn-primary rounded-pill">Edit Profile Information</a>
                    <a id="choice" href="{% url 'user-badge' %}" class="btn btn-primary rounded-pill">View Badge</a>
                    <a id="choice" href="{% url 'logout' %}" class="btn btn-primary rounded-pill">Log out</a>

                </div>
            </div>
        {% endif %}
    </div>



{% endblock content %}


